<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" />
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Login" />
        <a href="#" class="btn btn-default">Cancel</a>
      </div>
    </form>
  </div>
</div>